		<div class="editor">
			<canvas id="canvas" style="background:#fff; border:1px inset #888" width="400" height="200"></canvas><br>
			<button type="button" id="blackbtn">Black</button> <button type="button" id="whitebtn">White</button>
			<button type="button" id="redbtn">Red</button> <button type="button" id="bluebtn">Blue</button><br>
			<button type="button" id="magentabtn">Magenta</button> <button type="button" id="cyanbtn">Cyan</button>
			<button type="button" id="yellowbtn">Yellow</button> <button type="button" id="greenbtn">Green</button><br>
			pen size : <input type="number" id="pensize" value="1" min="1" max="99"><br>
			<button type="button" id="undobtn">Undo</button> <button type="button" id="clearbtn">Clear</button><br>
			<button type="button" id="sendbtn">Send</button>
		</div>
		<p style="max-width: 400px;margin: auto;margin-bottom: 20px;">Pro tip: it case it ain't obvious you can use white as an eraser<br>
			Librewolf users have to enable canvas access before sending</p>
		<footer><a href="/about.html">About this site</a></footer>
	</main>
</body>
<script type="text/javascript">
	const canvas = document.getElementById('canvas');
	const ctx = canvas.getContext('2d');
	ctx.getImageData(0, 0, 1, 1); // to trigger librewolf's protection (and allow users to enable canvas before publishing)
	//ctx.fillStyle = "black";
	let isDrawing = false;

	let undoStack = [];
	let maxUndoSteps = 20; // Adjust as needed

	function saveState() {
		undoStack.push(ctx.getImageData(0, 0, canvas.width, canvas.height));
		if (undoStack.length > maxUndoSteps) {
			undoStack.shift();
		}
	}
	function undo() {
		if (undoStack.length > 0) {
			const imageData = undoStack.pop();
			ctx.putImageData(imageData, 0, 0);
		}
	}
	function clear() {
		saveState();
		ctx.clearRect(0, 0, canvas.width, canvas.height);
	}
	function startDrawing(event) {
 		event.preventDefault();
 		saveState();
 		isDrawing = true;
 		draw(event);
	}
	function startDrawingTouch(event) {
 		event.preventDefault();
 		saveState();
 		isDrawing = true;
 		drawTouch(event);
	}
	function draw(event) {
		event.preventDefault();
		if (!isDrawing) return;
		const x = event.clientX - canvas.offsetLeft + window.pageXOffset;
		const y = event.clientY - canvas.offsetTop + window.pageYOffset;
		ctx.lineTo(x, y);
		ctx.stroke();
	}
	function drawTouch(event) {
		event.preventDefault();
		if (!isDrawing) return;
		const x = event.touches[0].clientX - canvas.offsetLeft + window.pageXOffset;
		const y = event.touches[0].clientY - canvas.offsetTop + window.pageYOffset;
		ctx.lineTo(x, y);
		ctx.stroke();
	}
	function stopDrawing() {
 		event.preventDefault();
 		isDrawing = false;
 		ctx.beginPath();
	}
	canvas.addEventListener("mousedown", startDrawing);
	canvas.addEventListener("mousemove", draw);
	canvas.addEventListener("mouseup", stopDrawing);
	canvas.addEventListener("mouseout", stopDrawing);
	canvas.addEventListener("touchstart", startDrawingTouch);
	canvas.addEventListener("touchmove", drawTouch);
	canvas.addEventListener("touchend", stopDrawing);
	canvas.addEventListener("touchcancel", stopDrawing);

	function sendPic() {
		fetch("/api/post", {
			method: "POST",
			body: JSON.stringify({ {{ if .threadId }}
				thread: "{{.threadId}}",{{ end }}
				picture: canvas.toDataURL("image/png")
			}),
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		})
			.then((response) => response.json())
  			.then((json) => {
  				if (json.status == "ok") {
  					location.reload();
  				}
  			});
	}
	const sendbtn = document.getElementById('sendbtn');
	sendbtn.addEventListener("click", sendPic);

	const undobtn = document.getElementById('undobtn');
	undobtn.addEventListener("click", undo);
	
	const clearbtn = document.getElementById('clearbtn');
	clearbtn.addEventListener("click", clear);

	const blackbtn = document.getElementById('blackbtn');
	blackbtn.addEventListener("click", () => {
		ctx.strokeStyle="#000000";
	});

	const whitebtn = document.getElementById('whitebtn');
	whitebtn.addEventListener("click", () => {
		ctx.strokeStyle="#ffffff";
	});

	const redbtn = document.getElementById('redbtn');
	redbtn.addEventListener("click", () => {
		ctx.strokeStyle="#ff0000";
	});

	const bluebtn = document.getElementById('bluebtn');
	bluebtn.addEventListener("click", () => {
		ctx.strokeStyle="#0000ff";
	});

	const greenbtn = document.getElementById('greenbtn');
	greenbtn.addEventListener("click", () => {
		ctx.strokeStyle="#00ff00";
	});

	const magentabtn = document.getElementById('magentabtn');
	magentabtn.addEventListener("click", () => {
		ctx.strokeStyle="#ff00ff";
	});

	const cyanbtn = document.getElementById('cyanbtn');
	cyanbtn.addEventListener("click", () => {
		ctx.strokeStyle="#00ffff";
	});

	const yellowbtn = document.getElementById('yellowbtn');
	yellowbtn.addEventListener("click", () => {
		ctx.strokeStyle="#ffff00";
	});

	const pensize = document.getElementById('pensize');
	pensize.addEventListener("change", () => {
		ctx.lineWidth=pensize.value;
		console.log(pensize.value)
	});

	// Keyboard shortcut for undo
	document.addEventListener("keydown", function(event) {
		if (event.ctrlKey && event.key === 'z') {
			undo();
		}
	});
</script>

</html>
